/* line 1 */
body {
  font-family: "Cabin", serif;
  text-align: center;
}

/* line 5 */
#logo {
  color: #18a6ff;
  font-size: 6em;
  margin: 100px auto 75px;
  text-shadow: 3px 3px 3px #bbbbbb;
}

/* line 11 */
textarea {
  font-family: "Cabin", serif;
  font-size: 1em;
  height: 200px;
  width: 450px;
}

/* line 17 */
a {
  color: #005d97;
  text-decoration: none;
}

/* line 20 */
p {
  font-size: 1.25em;
}

/* line 22 */
.how {
  margin: 0 auto;
  padding: 2px;
  text-align: right;
  width: 450px;
}

/* line 27 */
#instructions {
  margin: 0 auto;
  text-align: left;
  width: 450px;
}

/* line 31 */
#footer {
  margin: 100px auto 10px;
}
/* line 33 */
#footer p {
  font-size: 1em;
  font-style: italic;
}
