- @textvalue = "Your books."
#form
  %p
    =text_area "q", @textvalue
  %p
    %input{ :type => "submit", :value => "Get 'em"}
%p#explain
  :markdown
    Ever needed to search Amazon for a whole list of books? Yeah. So have I, and it is __awful__.
    
    Up until now you had to search
    
    one. stinkin'. book. at. a. time.

    *Amubos&eacute; fixes that.* [how?](#)
  #instructions
    :markdown
      1. Enter your list of books separated by semi-colons, pipes (|), or one per line.
      2. Have some ISBNs? Those will go straight to the product page.
      3. Press "Get 'em."
      4. Enjoy.
