- @textvalue = "Your books."
#form
  %p
    =text_area "q", @textvalue
    <br/>
    %input{ :type => "checkbox", :name => "kindle" }
    Search for just Kindle books
  %p
    %input{ :type => "submit", :value => "Get 'em"}
#instructions
  :markdown
    1. Enter your list of books separated by semi-colons, pipes (|), or one per line.
    2. Press "Get 'em."
    3. Amubos&eacute; opens a search or a product page for every single book title or ISBN.
    4. Enjoy.
    5. [Got it.](#)
#explain
  :markdown
    Ever needed to search Amazon for a whole list of books? Yeah. So have I, and it is __awful__.
    
    Up until now you had to search
    
    one. stinkin'. book. at. a. time.

    *Amubos&eacute; fixes that.*
