!!!
%html
  %head
    %title Amubos&eacute; &mdash; Simple Multiple Amazon Searches
    %link{ :href => "http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css" }
    = stylesheets
  %body
    %h1.logo amubos&eacute;
    = yield
